# Default ignored files
/shelf/
/workspace.xml

.idea/

.idea/
compiler.xml
gradle.xml
jarRepositories.xml
jpa-buddy.xml
misc.xml
uiDesigner.xml
vcs.xml

# gradle
.gradle/

# build
build/

# settings
settings.gradle

# resources
resources/